<footer class="page-footer bg-color">
    <div class="container row center-align">
       <div class="Copy-right">
            &copy; 2022 gudaosensen
    </div>
</footer>

<div class="progress-bar"></div>
